html {
  scroll-behavior: smooth;
}
:root {
  --primario: #00ffff;
  --negro: #000000;
  --blanco: #ffffff;
  --fuentePrincipal: "Poppins", sans-serif;
}
h1,
.navegacion__enlace {
  color: var(--blanco);
}
h1 {
  padding: 2rem 0;
  font-size: 2.5rem;
}
h1::before {
  content: "<>";
  color: var(--primario);
}
h1::after {
  content: "</>";
  color: var(--primario);
}
h2 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h3 {
  font-size: 1.4rem;
}

* {
  font-family: var(--fuentePrincipal);
}
a {
  text-decoration: none;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.texto-centrado {
  text-align: center;
}
/*Header Generales*/
.header {
  background-image: url(../IMG/headerbackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}
.header__h2 {
  color: var(--blanco);
  font-weight: 200;
  padding: 3rem 0;
}
.span-weight {
  font-weight: 600;
}
.span-color {
  color: var(--primario);
}
.boton-cv {
  border: none;
  color: var(--negro);
  background-color: var(--primario);
  height: 2.5rem;
  width: 8rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.4s;
}
.botones {
  padding: 2rem 0;
}
.boton {
  background-color: var(--primario);
  margin: 1rem 0.2rem;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  transition: all 0.4s;
}
.boton-cv:hover,
.boton:hover {
  box-shadow: 0 0 0.7rem var(--primario);
}
.navegacion__li {
  list-style-type: none;
  margin: 0.5rem 0;
}
.navegacion__enlace {
  margin: 0 1rem;
}

/*Fin header generales*/

/*Sobre Mi Generales*/
.sobre-mi-margin {
  margin: 0px 2rem;
}
.sobre-mi__texto {
  font-size: 1.1rem;
}
/*Fin sobre mi generales*/

/*Mis habilidades Generales*/
.mis-habilidades {
  margin: 2rem .5rem;
}
.habilidad {
  margin: 1rem;
}

.mis-habilidades__texto{
  font-weight: 200;
}
.habilidad__texto{
  margin: 1rem 0;
}
.html-imagen,
.css-imagen{
  width: 8rem;
}
.js-imagen,.boostrap-imagen{
  width: 9rem;
}
.habilidades__h3 {
  font-weight: 200;
}
/*Fin mis habilidades generales*/

/*Servicios generales*/
.servicios {
  margin: 2rem 0;
}
.servicios__texto {
  margin: 1.5rem 2rem;
  font-weight: 200;
}
.servicio{
  width:100%;
}
.servicios-boton{
  font-weight: bold;
  color: var(--negro);
  text-decoration: underline;
}
/*Fin servicios generales*/

/*Portfolio generales*/
.proyecto__imagen {
  width: 100%;
  transition: all 0.4s;
}
.proyecto__h3 {
  margin: 1rem 0;
  font-size: 1.2rem;
}
.proyecto__boton {
  border: none;
  background-color: rgba(155, 155, 155, 0.5);
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  margin-bottom: 1rem;

  cursor: pointer;
  transition: all 0.4s;
}
/* Fin portfolio generales */

/*Contactame generales*/
.instagram-logo,
.linkedin-logo,
.wpp-logo {
  width: 7rem;
}
.wpp-logo,
.linkedin-logo,
.instagram-logo {
  transition: all 0.3s;
}
.wpp-logo:hover,
.linkedin-logo:hover,
.instagram-logo:hover {
  transform: scale(1.1);
}
.contacto__texto {
  margin: 1rem 0;
}
/*Fin contacto generales*/
/*Footer generales*/
.footer {
  background-color: var(--negro);
}
.footer__texto {
  height: 3rem;
  color: var(--blanco);
  margin: 0;
  padding: 0;
}

/*Mobile*/
@media only screen and (max-width: 600px) {
  /*Header*/
  .header__h1 {
    font-size: 1.5rem;
  }
  .navegacion__enlace {
    margin: 0;
  }
  /*Servicios*/
  .servicios:first-of-type {
    margin-top: 0;
  }
}

@media only screen and (max-width:767px){
  .navegacion__enlace{
    font-size: 1.3rem;
  }
}
/*Laptop*/
@media only screen and (min-width: 800px) {
  /*Header*/
  .navegacion__enlace {
    padding-bottom: 0.5rem;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s;
  }
  .navegacion__enlace:hover,
  .navegacion__enlace:focus {
    background-size: 100% 2px;
    color: var(--blanco);
  }
  /*Sobre mi*/
  .sobre-mi__texto {
    margin: 1rem 8rem;
  }
  /*Mis Habilidades*/
  .mis-habilidades__aptitudes {
    margin-left:2rem;
  }
  /*Servicios*/
  #servicios{
    margin: 0 4rem;
  }
  /*Portfolio*/
  .proyecto__imagen:hover {
    box-shadow: 0 0 1.5rem #000000;
  }
  .proyecto__boton:hover {
    transform: scale(1.1);
  }
}