html {
    scroll-behavior: smooth;  
}
:root {
    --primario: #00ffff;
    --negro: #000000;
    --blanco: #ffffff;
    --fuentePrincipal: "Poppins", sans-serif;
  }
  h1,
  .navegacion__enlace {
    color: var(--blanco);
  }
  h1 {
    padding: 2rem 0;
  }
  h1::before {
    content: "<>";
    color: var(--primario);
  }
  h1::after {
    content: "</>";
    color: var(--primario);
  }
  * {
    font-family: var(--fuentePrincipal);
  }
  h2 {
    padding: 1rem 0;
  }
  a {
    text-decoration: none;
  }
  .no-margin {
    margin: 0;
  }
  .no-padding {
    padding: 0;
  }
  .texto-centrado {
    text-align: center;
  }
  /*Header Generales*/
  .header-contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  } 
  .header {
    background-image: url(../IMG/headerbackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .header__h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--blanco);
    font-weight: 200;
    padding: 3rem 0;
  }
  .span-weight {
    font-weight: 600;
  }
  .span-color {
    color: var(--primario);
  }
  .boton-cv {
    border: none;
    color: var(--negro);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primario);
    height: 2.5rem;
    width: 8rem;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: .4s;
  }
  .botones {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
  }
  .boton {
    background-color: var(--primario);
    margin: 0 0.2rem;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
  }
  .boton-cv:hover,.boton:hover{
    box-shadow: 0 0 .7rem var(--primario);
  }
  .navegacion__li {
    list-style-type: none;
    margin: 0.5rem 0;
  }
  .navegacion__ul {
      display: flex;
      justify-content: center;
    }
    .navegacion__enlace {
      margin: 0 1rem;
    }
    /*Fin header generales*/

/*Sobre Mi Generales*/
.sobre-mi-contenedor {
    margin: 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Fin sobre mi generales*/
/*Mis habilidades Generales*/
.mis-habilidades__flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
}
.habilidad{
    margin: 1rem;
}
.mis-habilidades__aptitudes{
    margin: 0 2rem;
}
/*Fin mis habilidades generales*/
.html-imagen{
    width: 8rem;
}
.css-imagen{
    width: 8rem;
}
.js-imagen{
    width: 9rem;
}


/*Mis Servicios */
.servicios{
    background-color: rgba(0, 0, 0, 0.918);
    height:100%;

    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.servicios__h2{
    padding-bottom: 1rem; 
    margin-bottom: 2rem;
    padding-top: 0;
}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
}
.servicio__titulo,.servicio__texto,.servicios__h2{
    color: #fff;
}
.servicio__titulo{}
.servicio__texto{}

.desarrollo-web{}
.responsive-design{}
.a-tiempo{}






/*Portfolio*/
.portfolio{
    margin: 4rem 0;
}
.proyectos{
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: repeat(3,1fr);
}
.proyectos__imagen{
    width: 25rem;
    transition: .3s;
}
.proyectos__imagen:hover{
    box-shadow: 0 0 2rem black;
}
.portfolio-contenedor{
    display: flex;
    justify-content: center;
}

/*Contactame*/
.contactame{
    margin: 0 auto;
}
.contactame__h2{

}
.instagram-logo,.linkedin-logo,.wpp-logo{
    width: 8rem;
}
.wpp-logo,.linkedin-logo,.instagram-logo{
    transition: .3s;
}
.wpp-logo:hover,.linkedin-logo:hover,.instagram-logo:hover{
    transform: scale(1.1);
}
.contacto-flexbox{
    display: flex;   
    justify-content: space-around;
}

/*Footer*/
.footer{
    background-color: #000000;

}
.footer__texto{
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 0;
    padding: 0;
}


/*Mobile*/
@media only screen and (max-width: 600px) {
    /*Header*/
    .header {
      height: 40rem;
    }
    .header__h1 {
      font-size: 1.5rem;
    }
    .navegacion {
      display: flex;
      justify-content: center;
    }
    .navegacion__ul {
      flex-direction: column;
      align-items: center;
    }
    .navegacion__enlace {
      margin: 0;
      font-size: 1.3rem;
    }
    .header-botones {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    /*Mis Habilidades*/
    .mis-habilidades__flex{
        flex-direction: column;
    }
    /*Servicios*/
    .grid{
        display: flex;
        flex-direction: column;
    }
    .servicio__texto{
        width: 20rem;
        margin: 0 auto;
    }


    /*Habilidades*/
    
    /*Portfolio*/
    .proyectos {
        display: flex;
        flex-direction: column;
    }
    .proyectos__imagen{
        width: 22rem;
        transition: .3s;
        margin: .5rem auto;
    }

    .proyectos__nombre{
        margin: .7rem 0;
    }
   
    /*Contactame*/
    .contacto-flexbox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


/*Tablet*/
@media only screen and (min-width: 601px) and (max-width: 799px) {
    /*header*/
    .header {
      height: 30rem;
    }
    .navegacion__li {
    }
  
    .header-botones {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .servicio__texto {
        width: 40rem;
        margin: 0 auto;
    }
    /*Portfolio*/
    .portfolio{
        margin: 4rem 0;
    }
    .proyectos {
        display: flex;
        flex-direction: column;
    }
    .proyectos__imagen{
        width: 27rem;
        transition: .3s;
        margin: .5rem auto;
    }
    
    .proyecto-boton-centrado{
        display: flex;
        justify-content: center;
    }
    .proyectos__nombre{
        margin: .7rem 0;
    }
    .proyectos__boton{
        display: flex;
        width: 9rem;
        justify-content: center;
        align-items: center;
        border-radius: .2rem;
        border: none;
        height: 2rem;
        background-color: rgba(128, 128, 128, 0.39);
        margin: .3rem 0;
    }
}
/*Laptop*/
@media only screen and (min-width: 800px){
    .header{
        height: 35rem;
    }
    .header-contenedor{
        height: 100%;
    }
    .navegacion__enlace{
        padding-bottom: .5rem;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s;
    }
    .navegacion__enlace:hover,.navegacion__enlace:focus{
        background-size: 100% 2px;
    }


    .proyectos {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .proyectos__imagen {
        width: 23rem;
    }
    .servicio{
        margin: 0 1rem;
    }
    .fondo-oscuro {
        background-color: rgba(0, 0, 0, 0.5);
        width: 44rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 31rem;
        padding: 0 1rem;
    }


    .grid{
        display: grid;  
        grid-template-columns: repeat(3,1fr); 
        column-gap: 1rem;
       }
       .servicio__texto {
           margin: 0 1rem;
       }
       .proyectos {
           display: grid;
           grid-template-columns: repeat(3,1fr);
       }
       .portfolio{
           margin: 0;
       }
}

.proyectos__boton:hover{
    transform:scale(1.2);
}
.proyectos__boton{
    cursor: pointer;
    transition: .2s;
    display: flex;
    width: 9rem;
    justify-content: center;
    align-items: center;
    border-radius: .2rem;
    border: none;
    height: 2rem;
    background-color: rgba(128, 128, 128, 0.39);
    margin: .3rem 0;
}

.proyecto-boton-centrado{
    display: flex;
    justify-content: center;
}
.aptitudes {
    width: 20rem;
    text-align: center;
}

