html {
    scroll-behavior: smooth;
    
}
*{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.texto-centrado{
    text-align: center;
}

/*Header*/
.header{
    background-color: #333;
    height: 60%;
}
.header__h1{
    padding: 3rem 0 1rem;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;   
}
.navegacion,.imagen-centrada{
    display: flex;
    justify-content: center;
}
.navegacion__ul{
    list-style: none;
}
.navegacion__li{
    display: inline;
}
.navegacion__enlace{
    margin: 0 1rem;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 200;

    padding: .4rem 0 ;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .3s;
}
.navegacion__enlace:hover,.navegacion__enlace:focus{
    background-size: 100% 1px;
}
.imagen-centrada{
    align-items: center;
    height: 27rem;
}

/*Mis Servicios*/
.servicios{
    background-color: rgba(0, 0, 0, 0.918);
    height:100%;

    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.servicios__h2{
    padding-bottom: 1rem; 
    margin-bottom: 2rem;
    padding-top: 0;
}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
}
.servicio__titulo,.servicio__texto,.servicios__h2{
    color: #fff;
}
.servicio__titulo{}
.servicio__texto{}

.desarrollo-web{}
.responsive-design{}
.a-tiempo{}

/*Sobre Mi*/
.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sobre-mi{
    background-image: url(../IMG/moon-2048727_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
}
.sobre-mi__h2{
    color: #fff;
}
.fondo-oscuro{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 32rem;

    padding: 0 1rem;
}
.sobre-mi__texto{
    color: #ffffff;
}


/*Habilidades*/
.habilidades{
    
}
.habilidades__h2{}
.habilidades__h3{font-weight: 200;}


.html-imagen{
    width: 8rem;
}
.css-imagen{
    width: 8rem;
}
.js-imagen{
    width: 9rem;
}

.habilidades-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25rem;
}
.tecnologia{
        margin:2rem;
        text-align: center;
}
.aptitudes{
    margin-left: 10rem;
}
/*Portfolio*/
.portfolio{
    margin: 4rem 0;
}
.proyectos{
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: repeat(3,1fr);
}
.proyectos__imagen{
    width: 25rem;
    transition: .3s;
}
.proyectos__imagen:hover{
    box-shadow: 0 0 2rem black;
}
.portfolio-contenedor{
    display: flex;
    justify-content: center;
}

/*Contactame*/
.contactame{
    margin: 0 auto;
}
.contactame__h2{

}
.instagram-logo,.linkedin-logo,.wpp-logo{
    width: 8rem;
}
.wpp-logo,.linkedin-logo,.instagram-logo{
    transition: .3s;
}
.wpp-logo:hover,.linkedin-logo:hover,.instagram-logo:hover{
    transform: scale(1.1);
}
.contacto-flexbox{
    display: flex;   
    justify-content: space-around;
}

/*Footer*/
.footer{
    background-color: #000000;

}
.footer__texto{
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width:599px){
    .imagen-desarrollador{
        width: 23rem;
    }
    .navegacion__ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .navegacion__li {
        margin: 0.5rem 0;
    }
    .navegacion__enlace {
        font-size: 1.4rem;
    }

    /*Servicios*/
    .grid{
        display: flex;
        flex-direction: column;
    }
    .servicio__texto{
        width: 20rem;
        margin: 0 auto;
    }
    /*Sobre Mi*/

    /*Habilidades*/
    .habilidades-flex {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 55rem;
    }
    .tecnologia{
        margin: .5rem 0;
    }

    /*Portfolio*/
    .proyectos {
        display: flex;
        flex-direction: column;
    }
    .proyectos__imagen{
        width: 22rem;
        transition: .3s;
        margin: .5rem auto;
    }

    .proyectos__nombre{
        margin: .7rem 0;
    }
   
    /*Contactame*/
    .contacto-flexbox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 600px) and (max-width:799px){
    .habilidades-flex{
        flex-wrap: wrap;
    }
    .servicio__texto {
        width: 40rem;
        margin: 0 auto;
    }
    /*Portfolio*/
    .portfolio{
        margin: 4rem 0;
    }
    .proyectos {
        display: flex;
        flex-direction: column;
    }
    .proyectos__imagen{
        width: 27rem;
        transition: .3s;
        margin: .5rem auto;
    }
    
    .proyecto-boton-centrado{
        display: flex;
        justify-content: center;
    }
    .proyectos__nombre{
        margin: .7rem 0;
    }
    .proyectos__boton{
        display: flex;
        width: 9rem;
        justify-content: center;
        align-items: center;
        border-radius: .2rem;
        border: none;
        height: 2rem;
        background-color: rgba(128, 128, 128, 0.39);
        margin: .3rem 0;
    }
}
@media only screen and (min-width:800px) and (max-width:928px){
  
    .proyectos {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .proyectos__imagen {
        width: 23rem;
    }
    .servicio{
        margin: 0 1rem;
    }
    .fondo-oscuro {
        background-color: rgba(0, 0, 0, 0.5);
        width: 44rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 31rem;
        padding: 0 1rem;
    }

    .habilidades-flex{
        flex-wrap: wrap;
    }
}
@media only screen and (min-width:929px){
    .grid{
     display: grid;  
     grid-template-columns: repeat(3,1fr); 
     column-gap: 1rem;
    }
    .servicio__texto {
        margin: 0 1rem;
    }
    .proyectos {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .portfolio{
        margin: 0;
    }
}
.proyectos__boton:hover{
    transform:scale(1.2);
}
.proyectos__boton{
    cursor: pointer;
    transition: .2s;
    display: flex;
    width: 9rem;
    justify-content: center;
    align-items: center;
    border-radius: .2rem;
    border: none;
    height: 2rem;
    background-color: rgba(128, 128, 128, 0.39);
    margin: .3rem 0;
}

.proyecto-boton-centrado{
    display: flex;
    justify-content: center;
}
.aptitudes {
    width: 20rem;
    text-align: center;
}