@import 'components/header';
@import 'components/sobremi';
@import 'components/habilidades';
@import 'components/servicios';
@import 'components/portfolio';
@import 'components/contacto';
@import 'components/footer';
@import 'base/variables';