/*Inicio contacto*/
.instagram-logo,
.linkedin-logo,
.wpp-logo {
  width: 7rem;
  transition:map-get($animaciones-botones, transicion);
  &:hover{
    transform:map-get($animaciones-botones, transformacion);
  }
  
}
/*Fin contacto*/