@import '../base/extends';
/*Inicio Habilidades*/
.html-imagen,
.css-imagen {
  width: 8rem;
}
.js-imagen, .boostrap-imagen, .git-imagen, .github-imagen {
  width: 9rem;
}
.sass-imagen {
  width: 12rem;
}

.habilidad {
  @extend %animaciones-imagenes;
}
.mis-habilidades__texto {
  font-size: 1.2rem;
}

/*Fin Habilidades*/