@import '../base/extends';
/*Inicio Habilidades*/
.html-imagen,
.css-imagen {
  width: 8rem;
}
.js-imagen, .boostrap-imagen, .git-imagen, .github-imagen {
  width: 9rem;
}
.sass-imagen {
  width: 12rem;
}
@media only screen and (max-width:225px){
  .html-imagen,
  .css-imagen,.js-imagen,.boostrap-imagen,.git-imagen,.github-imagen,.sass-imagen{
   width: 100%;
  }
}
.habilidad {
  @extend %animaciones-imagenes;
}
.mis-habilidades__texto {
  font-size: 1.2rem;
}

/*Fin Habilidades*/