@import '../base/variables';
.header__h2{
    color:$blanco;
}
.span-color {
    color:$color-primario;
}
.boton-cv{
    color: $negro;
    background-color: $color-primario;

    &:hover{
        box-shadow: 0 0 0.7rem $color-primario;
    }
}
.boton{
    background-color:$color-primario;

    &:hover{
        box-shadow: 0 0 0.7rem $color-primario;
    }
}
h1{
    color: $blanco;
    padding: 2rem 0;
    font-size: 2.5rem;
}
h1::before {
    content: "<>";
    color: $color-primario;
  }
  h1::after {
    content: "</>";
    color: $color-primario;
  }