@import '../base/mapas';
/*Inicio portfolio*/
.proyecto__imagen{
    transition:map-get($animaciones-botones, transicion);

    &:hover{
        box-shadow: 0 0 2rem nth($colores,2);
    }
}
.proyecto__h3{
    font-size: 1.2rem;
}
.btn{
    background-color: rgba(155, 155, 155, 0.5);
    transition:map-get($animaciones-botones, transicion);

    &:hover{
        background-color: rgba(155, 155, 155, 0.5);
        transform:map-get($animaciones-botones, transformacion);
    }
}
/*Fin portfolio*/